
html, body {
    font-size:12px;
    font-family: 'Inter', sans-serif;
    background-color:rgb(114, 113, 113);
    margin:0;
}


p {
    font-size:1.125rem;
    font-weight:300;
    line-height:1.5rem;
    color:rgb(32, 32, 71);
}
.card {
    width:23.438rem;
    height:41.688rem;
    background-color:rgb(255, 255, 255);
    position:absolute;
    top:5%;
    left:20%;
}

.user-container {
    width:90%;
    height:17.406rem;
    margin: auto;
    position:relative;
    top:5%;
}

.user-bg {
    max-width:100%;
    max-height:100%;
    position:absolute;
    left:5%;
}

.user {
    max-width:82.5%;
    max-height:82.5%;
    position:absolute;
    left:17%;
    top:10.5%;
    border-radius:0.313rem;
    box-shadow: 0px 5px 10px rgba(102, 102, 102, 0.486);
}

.user-container form {
    position:relative;
    left:40%;
    top:85.5%;
    width:5rem;
    height:2.5rem;
    margin: 0;
    border-radius:1.75rem;
    box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.1);
    background-color:rgb(255, 255, 255);
}

.user-container form button {
    max-width:100%;
    max-height:100%;
    display:inline-block;
    background-color:rgb(255, 255, 255);
    border:none;
    padding:0;
    position:relative;
    top:20%;
}

.user-container .previous-user {
    margin-left:.5rem;
    float:left;
}

.user-container .next-user {
    margin-right:.5rem;
    float:right;
}


.quote {
    width:80%;
    height:9rem;
    position:relative;
    margin:auto; 
    top: 10%;
    text-align:center;
}

.quote img {
    max-width:3.75rem;
    max-height:3.125rem;
    position:absolute;
    left:40%;
    top:-15%;
}
.user-name {
    font-size:0.938rem;
    font-weight:700;
    color:rgb(32, 32, 71);
    line-height:1.25rem;
    margin:0;
}

.user-role {
    font-size:0.938rem;
    font-weight:500;
    color:rgb(185, 185, 206);
    line-height:1.25rem;
    margin:0;
}

.curve {
    max-width:17.83rem;
    max-height:4.5rem;
    position:absolute;
    left:0;
    bottom:0;
}


@media only screen and (min-width: 768px){
    html, body {
        font-size:16px;
    }

    .card {
        left:25%;
    }

    .user-container .previous-user {
        margin-left: .75rem;
    }
    
    .user-container .next-user {
        margin-right:.75rem;
    }

    .user-container form button {
        top:20%;
    }

    
}


@media only screen and (min-width: 834px){
    html, body {
        font-size:10px;
    }
    
    .card {
        width:90rem;
        height:50rem;
        left:6%;
    }

    .user-container {
        width:45%;
        height: 52.875rem;
        position:relative;
        left:20%;
        top:10%;
    }

    .user {
        max-width:82.5%;
        max-height:82.5%;
        left:9.5%;
        top:7.5%;
    }

    .user-container form {
        width:7rem;
        left:18%;
        top:68%;
    }

    .user-container form button {
        top:10%;
    }
    .user-container .previous-user {
        margin-left: 1rem;
    }
    
    .user-container .next-user {
        margin-right:1rem;
    }

    p {
        line-height: 2.75rem;
    }
    .quote {
        width:39.68rem;
        height:22.125rem;
        position:relative;
        top: -70%;
        left:-17.25%;
        text-align:center;
    }

    .quote-text {
        font-size:2rem;
    }

    .user-name, .user-role {
        font-size: 1.25rem;
        float:left;
    }

    .user-name {
        margin-right:0.5rem;
    }

    .quote img {
        max-width:7.5rem;
        max-height:6.25rem;
        position:absolute;
        left:19%;
        top:-19%;
    }

    .curve {
        max-width:38.125rem;
        max-height:9.622rem;
        position:absolute;
        left:0;
        bottom:0;
    }
}

@media only screen and (min-width: 1200px){
    html, body {
        font-size:14px;
    }

    .card {
        left:25%;
    }

    .user-container form button {
        top:30%;
    }
    .user-container .previous-user {
        margin-left: 1.25rem;
    }
    
    .user-container .next-user {
        margin-right:1.25rem;
    }
}